<!DOCTYPE html>
<html>
<head>
	<title>Welcome. Approve Inventory Details Here</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <style>
		#footer {
		   position:absolute;
		   bottom:0;
		   width:100%;
		   height:60px;   /* Height of the footer */
		   background:#6cf;
		}
	</style>
</head>

<header>
<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo center">Approve Pending Inventory Here</a>
    </div>
</nav>
</header>

<br/>

<body>
	<div class="container">
		<div class="row">
		    <div class="col s6">
		        <div class="card-panel grey lighten-4">
		        {% if items_to_be_approved %}
					<form method="post">
						{% csrf_token %}
						<div class="approvalDiv">
								<section>
								<div class="row">
									<ul>
									{% for item in items_to_be_approved %}
										<li class="card">
										Name: {{item.name}}
										<br/>
										Vendor: {{item.vendor}}
										</li>
									{% endfor %}
									</ul>
								</div>
								</section>
						</div>
	  					<br/>
						<button class="btn waves-effect waves-light deep-orange accent-3" type="submit" name="action">Approve List
	    					
	  					</button>
					</form>
					{% else %}
						<h5> No Pending Item for Approval </h5>
						<h6><a href="/product/">Back</a></h6>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</body>

</html>